@import 'tailwindcss';

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Yu Gothic Medium',
    'Yu Gothic',
    'Meiryo',
    'Segoe UI',
    'Roboto',
    sans-serif;
}

button:hover {
  cursor: pointer;
}
